R1_shots.zip
.gemini/.env
.vscode/settings.json
.gemini/settings.json
.github/copilot-instructions.md
R1-logs2.txt
R1-logs.txt
test 5-logs.txt
test3-logs.txt
doseout-logs.txt
test 4 -logs.txt
output-logs.txt
28102025-logs.txt
30102025-logs.txt
skin.tcl
